@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');


header,body{
  min-width: 480px;
  font-family: 'Quicksand', sans-serif;
}

.App{
  padding: 1rem 1rem;

}

/* ---- Header ---- */
header {
  color: #283618;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_img {
  width: 10rem;
  mix-blend-mode: darken;
  transition: ease-in-out 200ms;
}

.header_img:hover {
  width: 10.2rem;
}

/* ---- InfoBar ---- */

.infoBar {
  background-color: #283618;
  border-radius: 1rem;
  padding: 1rem 1rem;

  display: flex;
  flex-wrap: wrap;
  min-width: 24rem; 

  justify-content: space-evenly;
}

.player {
  color: #fefae0;
  border: 2px solid #fefae0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player.highlighted-player{
  border-color: #BC6C25;
}
.player-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.player-info span,
.player-info input {
  padding: 0.5rem 1rem;
}

.player-info input {
  /* border: 1px solid white; */
  border-radius: 0.25rem;
  background-color: #516d31;
  color: white;
}

.player-symbol {
  font-size: larger;
  color: #dda15e;
}
.player button {
  margin-inline: 1rem;
  background-color: #dda15e;
  color: white;
  height: 2rem;
  width: 4rem;
  border-radius: 0.5rem;
}

.player button:hover {
  background-color: #bc6c25;
}

/* ---- Game Board ---- */

ol {
  padding: 0 0;
  vertical-align: middle;
}

.game-board, .gameOver-shell {
  background-color: #283618;
  /* width: fit-content; */
  min-width: 24rem; 
  border-radius: 1rem;
  padding: 2rem 2rem;
  list-style-type: none;

}

.game-board li {
  display: inline;
  vertical-align: middle;

}

.game-board button {
  width: 7rem;
  height: 7rem;
  margin: 0.5rem 0.5rem;
  font-size: 50px;
  font-weight: 600;
}

/* ---- Logger ---- */
#logger_shell{
  color: #283618;
  border: 2px solid #283618;
  border-radius: 1rem ;
  min-width: 16rem;
  padding: 1rem 1rem;
  max-height: 20rem;
  overflow-y: auto;
}

#logger_shell li{
  display: block;
  transition: ease-in-out 200ms;
}

/* ---- game-logger ---- */

.game-logger{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  height: 30rem;
}

/* ---- gameOver ---- */
.gameBoard-gameOver{
  height: 29rem;
  overflow-y: hidden;

}
.gameOver-shell{
  background-color: rgba(0, 0, 0, 0.9);
  width: 24rem; 
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -29rem
}

.gameOver-title{
  color: #bc6c25;
  font-size: xx-large;
  font-weight: 800;
}

.gameOver-body{
  color: #dda15e;
  font-size: x-large;
  font-weight: 600;
  margin: 1rem 1rem;

}

.gameOver-rematch{
  border: 2px solid #bc6c25 ;
  border-radius: 0.25rem;
  color: #bc6c25;
  background-color: transparent;
  padding: 0.5rem 0.5rem;
  margin: 1rem 1rem;
}

.gameOver-rematch:hover{
  background-color: #dda15e;
  color: #fefae0;
}